- type: job
  id: Sheriff
  name: job-name-sheriff
  description: job-description-sheriff
  playTimeTracker: JobHeadOfSecurity
  requirements:
    - !type:OverallPlaytimeRequirement
      time: 129600 # 36 hours
    - !type:DepartmentTimeRequirement
      department: Security
      time: 86400 # 24 hours
    - !type:RoleTimeRequirement
      role: JobWarden
      time: 21600 # 6 hours
    - !type:RoleTimeRequirement
      role: JobSeniorOfficer
      time: 43200 # 12 hours
  alternateRequirementSets:
    longerPlaytimeLessSec:
    - !type:OverallPlaytimeRequirement
      time: 1080000 # 300 hours
    - !type:DepartmentTimeRequirement
      department: Security
      time: 64800 # 18 hours
    - !type:RoleTimeRequirement
      role: JobWarden
      time: 21600 # 6 hours
  whitelisted: true
  startingGear: SheriffGear
  alwaysUseSpawner: true
  icon: JobIconSheriff
  requireAdminNotify: true
  supervisors: job-supervisors-centcom
  weight: 180
  displayWeight: 70
  canBeAntag: false
  accessGroups:
  - AllAccess
  special:
  - !type:AddImplantSpecial
    implants: [ MindShieldImplant, TrackingImplant ]
  - !type:AddComponentSpecial
    components:
      - type: CommandStaff
      - type: PreventShipyardTitleOverwrite
  - !type:GiveItemOnHolidaySpecial
    holiday: FrontierBirthday
    prototype: FrontierBirthdayGift

- type: startingGear
  id: SheriffGear
  equipment:
    pocket1: ASWeaponPistolMk58SLELessLethal
    pocket2: NFWeaponEnergyPistolLaserX01Multiphase
  storage:
    back:
    - ASTechFabSLEFlatpack
    - Multitool
    - ASHoloprojectorSLE # Aurora Song - Changed from HoloprojectorNfsd to use SLE prototype
    - DoorRemoteNfsd
    - BaseSecurityUplinkRadioSheriff
    - ASRubberStampSheriff # Aurora Song - Changed from RubberStampSheriff to use SLE prototype
  licenses:
  - LicenseContrabandHandling

- type: chameleonOutfit
  id: SheriffChameleonOutfit
  job: Sheriff
  hasMindShield: true
  equipment:
    head: ASClothingHeadHatSLECampaign
    mask: ASClothingMaskGasSLESheriff
    eyes: ASClothingEyesGlassesSLE
    outerClothing: ASClothingOuterCoatSLEFormalSheriff
    neck: ClothingNeckNfsdBadgeSheriff
    belt: ASClothingBeltSLEFilled
    gloves: ASClothingHandsGlovesCombatSLELightBlue
    shoes: ASClothingShoesBootsSLEDarkBlue

